@import './variables';

.console-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .paneheader {
        flex-shrink: 0;
    }
}

.console {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 5px 10px 10px 10px;
    overflow-y: auto;
    background-color: $color-very-dark-gray;
    box-sizing: border-box;
    border-left: 2px solid $color-dark-gray;
}

.console-text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    color: $color-dark-white;
    font: $font-weight-regular 0.8em $font-mono;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.console-text-error {
    color: $color-red;
}
