@import './variables';

$openproject-height: 200px;

.openproject {
  width: 400px;
  height: 300px;
  height: $openproject-height;
  overflow-y: scroll;
}

.openproject-inner {
  box-sizing: border-box;
  border-right: 1px solid $color-very-dark-gray;
}

.openproject-project {
  width: 100%;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  align-items: center;

  cursor: pointer;
  border-bottom: 1px solid $color-very-dark-gray;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-gray;
    transition: background-color 0.2s ease;
  }
}

.openproject-project-icon {
  margin-left: 20px;
  color: $color-primary;
  font-size: 1.5em;
  margin-right: 20px;
}

.openproject-project-title {
  margin-bottom: -2px;
  font: $font-weight-bold 1.0em $font-primary;
  color: $color-primary;
}

.openproject-project-subtitle {
  font: $font-weight-bold 0.7em $font-primary;
  color: $color-dark-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
