@import './variables';

$paneheader-height: 40px;

.paneheader {
  width: 100%;
  padding-left: 15px;
  height: $paneheader-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $color-gray;
  border-bottom: 1px solid $color-very-dark-gray;
}

.paneheader-title {
  margin-left: 5px;
  font: $font-weight-bold 0.9em $font-primary;
  color: $color-primary;
}

.paneheader-btn {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paneheader-btn-icon {
  margin-left: 5px;
  margin: 0;
  color: $color-primary;
}
