@import './variables';

@keyframes popupEnter {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes popupWindowEnter {
  from { margin-top: -10%; }
  to { margin-top: -20%; }
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; 
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
  animation: 0.2s ease 0s 1 popupEnter;
}

.popup-window {
  min-width: 200px;
  margin-top: -20%;

  border-radius: 8px;
  border: 1px solid $color-very-dark-gray;
  overflow: hidden;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.25);
  animation: 0.2s ease 0s 1 popupWindowEnter;
}

.popup-inner {
  min-height: 50px;
  background-color: $color-dark-gray;
}
