@import './variables';

$toolbar-height: 50px;

.toolbar {
  width: 100%;
  height: $toolbar-height;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
  background-color: $color-gray;
  border-top: 1px solid $color-very-dark-gray;
}

.toolbar-left, .toolbar-right {
  display: flex;
  align-items: center;
}
.toolbar-right .btn {
  margin-left: 10px;
}

.toolbar-plang-btn {
  height: 25px;
  display: flex;
  margin-right: 15px;
  align-items: center;
  cursor: pointer;
}

.toolbar-plang-btn-icon {
  margin-left: 5px;
  color: $color-primary;
}

.toolbar-plang-btn-text {
  margin-left: 5px;
  font: $font-weight-bold 0.7em $font-primary;
  color: $color-primary;
}
