$color-primary: #b8d3dd;

$color-white: #f2f2f2;
$color-dark-white: #b3b9c6;

$color-light-gray: #424a59;
$color-gray: #353c47;
$color-dark-gray: #282d34;
$color-very-dark-gray: #21262b;

$color-black: #1b1f23;

$color-red: #e06c75;

$color-link: #4949c7;

$min-width: 620px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Fira+Mono:400');

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-primary: 'Open Sans', sans-serif;
$font-title: 'Open Sans', sans-serif;
$font-mono: 'Fira Mono', monospace, sans-serif;
